{% if site.data.portfolio.portfolio-home-items %}
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="/about"><h2 class="section-title">Behind the Scenes</h2></a>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.about.bts-gallery-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <!-- Check the source and load the image accordingly -->
          {% if item.source == 'instagram' %}
          <picture>
            <source srcset="{{ item.image }}"/>
            <img decoding="async" loading="lazy" srcset="{{ item.image }}" alt="{{ item.image }}" class="img-fluid rounded w-100 d-block" />
          </picture>
          {% else %}
          <picture>
            <!-- mobile-xs  -->
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_400.avif" type="image/avif" media="(max-width:400px)"/>
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_400.webp" type="image/webp" media="(max-width:400px)"/>
            <!-- mobile  --> 
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_575.avif" type="image/avif" media="(max-width:575px)"/>
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_575.webp" type="image/webp" media="(max-width:575px)"/>
            <!-- tablet  --> 
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_767.avif" type="image/avif" media="(max-width:767px)"/>
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_767.webp" type="image/webp" media="(max-width:767px)"/>
            <!-- desktop  --> 
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_991.avif" type="image/avif" media="(max-width:991px)"/>
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_991.webp" type="image/webp" media="(max-width:991px)"/>
            <!-- desktop-lg  --> 
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_1200.avif" type="image/avif" media="(max-width:1200px)"/>
            <source srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_1200.webp" type="image/webp" media="(max-width:1200px)"/>
            <!-- Default - Desktop -->
            <img decoding="async" loading="lazy" srcset="{{ site.baseurl }}/{{ item.image | remove: '.jpeg' }}_400.jpg" alt="portfolio-image" class="img-fluid rounded w-100 d-block"  media="(min-width: 991px)" />
          </picture>
          {% endif %}
          <a href="{{ item.url }}">
          <div class="hover-overlay">
            <div class="hover-content">
            </div>
          </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}